@font-face {
    font-family: 'Nice Font';
    src: url(./OldComputerSt-rGM7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #05092E;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.card {     
    width: 700px;
    position: relative;
    perspective: 150rem;
}

.card-side {       
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;    
    transition: all 0.8s ease;
}

.card-front {
    background-color: green;
    width: 700px;
    height: 610px;
    border-radius: 20px;
    font-family: 'Nice Font';
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    color: white;
}

.card-back {
    background-color: black;
    transform: rotateY(180deg);
    width: 700px;
    height: 610px;
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0);
}

.container {
    display: flex;
    align-items: center;  
    justify-content: center;  
    flex-direction: column;
}

h4 {
    margin-bottom: 15px;
    font-family: 'Nice Font';
}

.recruitment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recruitment > p {
    font-size: 20px;
}

.green {
    color: green;
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Nice Font';
    color: green;
}

.status > img {
    width: 30px;
}

.box {
    display: flex;  
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px 150px 20px 30px;
    background-color: #0A1705;
    color: white;
    font-size: 23px;
    box-shadow: 0px 30px 30px 30px rgba(21, 196, 13, 0.2);  
}

.box-main {
    display: flex;
    flex-direction: column;
}

.box-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;    
}

.box-checkbox > img {
    width: 27px;
}

.box-checkbox > p {
    color: green;
}

.box-footer {
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    background-color:aliceblue;
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
}

.front {
    margin-top: 10px;
    font-family: 'Nice Font';
    font-size: 20px;
}

.contact {
    margin-top: 10px;
    font-family: 'Nice Font';
}

.links-list > a {
    text-decoration: none;
    color: green;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .fa-linkedin-square {
    cursor: pointer;
    font-size: 30px;
}

.fa-linkedin-square:hover {
    color: green;
}

.fa-github {
    cursor: pointer;
    font-size: 30px;
}

.fa-github:hover {
    color: green;
} */

@media (max-width: 530px) {

    .card-front {
        width: 400px;
        height: 900px;
        margin-left: 150px;  

    }
    .box {           
        width: 400px;
        height: 900px;
        margin-left: 150px;    
    }       
}